<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lying</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" integrity="sha384-7P0NVe9LPDbUCAF+fH2R8Egwz1uqNH83Ns/bfJY0fN2XCDBMUI2S9gGzIOIRBKsA" crossorigin="anonymous">
    <style>html { margin: 20px; } .ch { text-align: center; } .aa { display: flex; width: fit-content; margin-inline: auto; } .aa h1 { margin: 0; font-size: 65pt; }</style>
</head>
<body>
    <header>
        <h1 class="ch">You're in! The code is <code>{{ code }}</code>.</h1>
    </header>
    <main>
        <article class="aa">
            <h1 id="articlename">
                <a id="readylink">Click to Start</a>
            </h1>
        </article>
        <section>
            <div class="grid" id="speakers">
            </div>
        </section>
    </main>
    <script type="text/javascript">
    let readylink = document.getElementById('readylink');
    let articlename = document.getElementById('articlename');
    let speakers = document.getElementById('speakers');
    let code = '{{ code }}'; // kinda xss-y but should be fine
    readylink.onclick = async () => {
        let status = '@not-started';
        let issued_start = false;
        while (status == '@not-started') {
            let status_resp = await fetch(`/api/${code}/status`);
            status = await status_resp.text();
            if (status == '@not-started' && !issued_start) {
                await fetch(`/api/${code}/start`);
                issued_start = true;
            }
        }
        let article_resp = await fetch(`/api/${code}/chosen/article`);
        let article = await article_resp.text();
        articlename.innerHTML = article;
    };
    let speakers_added = 0;
    setInterval(async () => {
        let speakers_resp = await fetch(`/api/${code}/speakers`);
        let speakers_json = await speakers_resp.json();
        console.log(speakers_json);
        let speakers_found = speakers_json['list'];
        if (speakers_found.length > speakers_added) {
            for (const new_speaker of speakers_found.slice(speakers_added)) {
                let name = atob(new_speaker.ne);
                let desc = new_speaker.desc;
                let new_card = document.createElement('article');
                new_card.innerText = name;
                speakers.appendChild(new_card);
            }
            speakers_added = speakers_found.length;
        }
    }, 250);
    </script>
</body>
</html>
