<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lying</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" integrity="sha384-7P0NVe9LPDbUCAF+fH2R8Egwz1uqNH83Ns/bfJY0fN2XCDBMUI2S9gGzIOIRBKsA" crossorigin="anonymous">
    <style>html { margin: 20px; } .ch { text-align: center; }</style>
</head>
<body>
    <header>
        <h1 class="ch">You're in! The code is <code>{{ code }}</code>.</h1>
    </header>
    <main>
        <div class="ch" style="padding: 20px">
            <button id="readybtn">Everyone ready?</button>
        </div>
        <article id="article" aria-busy="true" class="ch">
            <h1 id="articlename"></h1>
        </article>
        <section>
            <div class="grid" id="speakers">
            </div>
        </section>
    </main>
</body>
</html>
