<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lying</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" integrity="sha384-7P0NVe9LPDbUCAF+fH2R8Egwz1uqNH83Ns/bfJY0fN2XCDBMUI2S9gGzIOIRBKsA" crossorigin="anonymous">
    <style>html { margin: 20px; } .ch { text-align: center; }</style>
</head>
<body>
    <header>
        <h1 class="ch">You're in!</h1>
        <h3 class="ch" id="subheading">When the word is revealed, you'll have 10 seconds to submit a short description.</h3>
    </header>
    <main>
        <div style="display: none" id="form">
            <form action="#submitted" method="post">
                <label for="desc">Short Description:</label>
                <input name="desc" type="text" placeholder="e.g. 'famous drunkard'">
                <button type="submit">Submit!</button>
            </form>
        </div>
        <h1 class="ch" style="color: red;" id="msg">Wait for the word to be revealed...</h1>
        <progress id="progress-2"></progress>
    </main>
    <script type="text/javascript">
    let form = document.getElementById('form');
    let msg = document.getElementById('msg');
    let prog = document.getElementById('progress-2');
    let subheading = document.getElementById('subheading');
    let code = "{{ code }}";
    let time = parseInt('{{ time }}');
    let ask_interval = null;
    let time_left = time * 1000;
    if (window.location.hash == '#submitted') {
        msg.innerText = 'Explain yourself, mortal!';
        form.style.display = 'none';
        prog.style.display = 'none';
        subheading.innerText = 'Your description was submitted.';
    } else {
        setInterval(async () => {
            let status_resp = await fetch(`/api/${code}/status`);
            let status = await status_resp.text();
            let message = status;
            if (message == '@not-started') {
                message = 'Wait for the word to be revealed...';
                form.style.display = 'none';
            } else if (message == '@live') {
                clearInterval(ask_interval);
                message = 'Explain yourself, mortal!';
                form.style.display = 'none';
                prog.style.display = 'none';
                subheading.innerHTML = 'You did not submit a description. A wee bit sus, no?'
            } else {
                form.style.display = 'inline';
                prog.id = 'progress-1';
                if (ask_interval == null) {
                    prog.value = '1';
                    ask_interval = setInterval(() => {
                        if (time_left > 0) {
                            console.log(time_left);
                            prog.value = `${(time_left / (time * 1000))}`;
                            time_left -= 10;
                        }
                    }, 10);
                }
            }
            msg.innerText = message;
        }, 250);
    }
    </script>
</body>
</html>
